@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Lilita+One&family=Poppins:wght@400;500;600;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
   
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.pg-informacoes{
    width: 70%;
    padding: 30px;
    text-align: justify;
}

.seta{
    margin-top: 20px;
    width: 60px;
}

.espaco{
    height: 20rem;
    width: 20rem;
    
}



.pg-02{
    padding: 30px;
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: space-around;
    background-color: #8257E5;
    
}

.planet{
    text-align: center;
    padding: 10px;
    background-color: #d3d3d3;
    border-radius: 10px;
}

.planet > img{
    padding: 10px;
    width: 50px;
}


.pg-03{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #ececec;
    
}

.form{
    margin: 30px auto;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
    
}

input{
    border: 1px solid #d3d3d3;
    border-radius: 6px;
    
    padding: 10px;
}

textarea{
        border: 1px solid #d3d3d3;
        border-radius: 6px;
        padding: 10px;
}

button{
    padding: 1.0rem;
    background-color: #8257E5;
    width: 100%;
    color: white;
    border-radius:15px ;
    border: none;
    font-weight: 700;
}

h2{
    font-size: 28px;
}

.star{
    width: 45%;
    border-radius: 40px;
    margin: 10px;
}

footer{
    text-align: center;
    background-color: #8257E5;
    color: white;
    padding: 20px;
}

@media(max-width: 1200px){
    header{
        padding: 30px 0;
        flex-direction: column-reverse;
    }
    ul{
        width: 100%;
    }


    .pg-03{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .star{
        width: 100%;
        border-radius: 0;
        margin: 0;
    }
    

    @media(max-width: 700px) {
        .pg-02{
            display: block;
            padding: 30px;
        }
        .planet{
            margin-bottom:20px ;
        }
        .star{
            width: 100%;
            border-radius: 0;
            margin: 0;
        }
    }
}